@{
    ViewData["Title"] = "Home Page";
}

<body >
    <center>
        
        <div class="box" style="border:1px solid black;height:650px; width:150%;" >

        </div>
        

    </center>
    
    

   
    
</body>
